<!DOCTYPE html>
<html>
  <head>
    <title>ReactRailsShoppingCart1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

  </head>
  <header>
    <h2><%= link_to 'Shopping Cart', root_path %></h2>
    <p><%= link_to 'Cart', :controller => 'cart' %></p>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>Copyright &copy; copy</p>
  </footer>
</html>
